/* reseteo */
* {
  margin: 0;
  padding: 0;
}

.profesores {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 75%;
  font-style: italic;
  color: white;
  font-weight: bold;
}

body {
  
  background-color: black;
 
}

/* centrado y fondo negro de las paginas */
.fondonegro {
  background-color: black;
  text-align: center;
}
/* textos promo 1 */
.textopromo {
  text-align: center;
  color: yellow;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 300%;
}


/* textos promo 2 */
.textopromo2 {
  text-align: center;
  color: rgb(103, 122, 233);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 200%;
}

/* subtitulos pagina disciplinas */

.disciplinastitulos {
  font-size: 245%;
  font-style: bold;
  color: darkorange;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  padding-top: 3rem;
 
}

/* subtitulos pagina bienestar */

.bienestartitulos {
  font-size: 245%;
  font-style: bold;
  color: lightseagreen;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  padding-top: 3rem;
}

/* subtitulos pagina bienestar */

.titulospaginas {
  
  font-size: 200%;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: white;
  margin-right: 3,3%;
  margin-left: 3%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  margin-top: 3%;
}

/* titulos paginas  */

.titulosgrandespaginas {
  
  font-size: 400%;
  color: white;
  text-align: center;
 margin-top: 10%;
  font-weight: bold;
  width: 100%;
}


/* parrafos  */

.parrafos {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  text-align: justify;
  position: flex;
  color: white;
  font-size: medium;
  line-height: 100%;
  font-weight: lighter;
  padding-top: 2rem;
}

.parrafos2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
  font-style: bold;
  color: white;
  text-align: justify;
  font-weight: bold;
  padding-top: 1rem;
}

/* tabla de horarios  */

.table-color {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 100%;
}

/* titulo inicio  */
.tituloinicio {
  font-size: 400%;
  color: white;
  text-align: center;
  margin-bottom: 0%;
  font-weight: bold;
  width: 100%;
  
}

/* foto pagina inicio  */
.fotomain {
  margin-top:5%;
  
}

/* logo grande superior  */

.logosuperior {
  text-align: left;
  position: relative;
  bottom: 80%;
  width: 100%;
  height: 15%;
  left: -35%;
  top: -100%;
}

/* footer  */

footer {
  min-height: 100px;
  border-top: 1px solid rgba(50, 50, 50, 0.3);
  width: 100%;
  position: relative;
  clear: both;
  margin-top: 10%;
  padding-top: 0px;
  overflow:-moz-hidden-unscrollable;
  overflow-x: hidden;
  bottom: 0%;
  border-top: 1px solid rgb(180, 180, 174);
}

/* iconos del footer con hover  */

.iconosfooter:hover {
  color: none;
  background: none;
  filter: brightness(100%);
  transition: all 1s ease 0s;
}

/* textos del footer  */

.textosfooter {
  font-style: normal;
  font-size: smaller;
  font-weight: lighter;
  text-align: center;
  color: white;
}

/* boton promo amarillo  */
.btn-promo {
  background-color: black;
  color: yellow;
  border: 3px solid yellow;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 300%;
}

.btn-promo:hover {
  background-color: yellow;
  color: black;
  border: 3px solid yellow;
}

/* boton promo celeste */
.btn-promo2 {
  background-color: black;
  color: lightseagreen;
  border: 3px solid lightseagreen;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 100%;
}

.btn-promo2:hover {
  background-color: lightseagreen;
  color: white;
  border: 3px solid lightseagreen;
}

/* href */
a {
  outline: #c2c4c1;
  text-decoration: none;
  color: white;
  cursor: hand;
}
a:hover {
  background: white;
  color: black;
  border-radius: 6px;
}

/* iconos del footer filtro escala de grises inicial */
.iconosfooter {
  filter: grayscale(1);
  
}




/* logo jc footer */
.logofooterespon{
margin-top: 2%;

}


/*# sourceMappingURL=style.css.map */

/* mediaquerys pantalla grande */

@media screen and (min-width: 1075px) {

  
body{
  
  margin-left: 10%;
  margin-right: 10%;
}

.iconosredesrespon{
  text-align: left;
  margin-top: 2%;
  
}
.logofooterespon{
  text-align: center;
 
}
.zumbarespo{
  text-align:center;
  margin-top: 4%;
  
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr  1fr;
  justify-items:center;
  
}

.maparespon{
  margin-left: 200%;
  
 
  
  
}

}

/* mediaquerys pantalla acostada */

@media (min-width: 700px) and (orientation: landscape){
  body{
  
    margin-left: 10%;
    margin-right: 10%;
  }  
  .zumbarespo{
   
    margin-top: 4%;
    
  }

  


.zumbarespo{
   
  margin-top: 4%;
  
}

}

/* mediaquerys  */

@media (max-width: 990px){
.titulospaginas {
  
   font-size: 150%; 

  border-bottom: none;
  border-top: none;
  color:darkseagreen;


}

.tituloinicio {
  font-size: 230%;
  
  text-align: center;
  margin-top: 5%;
  font-weight: bold;
  width: 100%;}
  
  .titulosgrandespaginas {
    font-size: 230%;
    
    text-align: center;
    margin-top: 15%;
    font-weight: bold;
    width: 100%;
  
}
}


/* barra de navegacion   */

nav{

  line-height:50px;
  width:100%;
  background-color: rgb(43, 42, 42);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 100%;
  position: fixed;
  opacity: 40%;
  margin-left: -10%;
  z-index: 1;
}
#toggle{
  display:none;
}


label{
  font-size:26px;
  text-align: center;
  display:none;
  color:white;
  
  
}
.linkmenu2 a{
  text-decoration:none;
  color: white;
  margin-left:30px;
  text-transform:capitalize;
}
.linkmenu2  a:hover{
  color:black;
  
}

nav:hover{
opacity: 100%;
}

@media only screen and (max-width:768px)
{
  label {
    display:block;
  }
.linkmenu2 a{
    display:block;
    text-align:center;
    margin:auto;
    border-bottom:2px solid #fff;
  }
  .linkmenu2{
    margin:auto;
    display:none;
  }
  #toggle:checked + .linkmenu2{
    display:block;
  }
nav{
  opacity: 100%;
  margin-left: 0%;
}

}

.validationCustom01{
  color:aqua;
}



/* formulario  */

.formulario {
  max-width:400px;
  width:100%;
  margin:0 auto;
  position:relative;
  background-color: #999;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background:black;
  padding:25px;
  margin:50px 0;
}

#contact h3 {
  color: black;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:100%;
  
  background:black;
  color:lightseagreen;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;

  border-radius: 6px;
  border: 3px solid lightseagreen;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 100%;


}

#contact button[type="submit"]:hover {
  background:lightseagreen;
  color: white;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;


  
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}